@import "reset", "bourbon", "neat";

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

$smoke: #15181A;
$navy: #152B3C;
$blue: #85C6D6;
$light: #FCFCFC;
$animation-delay: .9s;

.wf-loading {
  visibility: hidden;
}

.wf-active {
  visibility: visible;
}

body {
  text-rendering: optimizeLegibility;
  font-variant-ligatures: common-ligatures;
  font-feature-settings: "liga", "dlig", "kern", "onum", "lnum" off;
  font-kerning: normal;
  font-family: "leitura-news", Georgia, serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5em;
  background: $smoke;
  color: $light;
}

.bg {
  opacity: 0;
  background-image: url("../media/malika.jpg");
  background-size: cover;
  background-position: 10% 100%;
  height: 100vh;
  width: 100%;
  @include animation(in .8s cubic-bezier(1,0,.75,.75) $animation-delay forwards);
}

.hero {
  margin: calc(100vh - 480px) 3.5rem 0;
  height: 480px;
  position: absolute;
  top: 0;
  p {
    font-weight: 300;
    font-style: italic;
    margin-top: 3.2em;
    opacity: 0;
    @include animation(in .8s cubic-bezier(1,0,.75,.75) ($animation-delay + .8s) forwards);
    max-width: 650px;
  }
}

.content {
  @include outer-container;
  //$mobile: new-breakpoint (max-width 800px 4);
  padding: 0 3.5rem;

  p:first-of-type:first-letter {
    float: left;
    font-size: 4rem;
    line-height: 4rem;
    margin: 0 .8rem 0 0;
  }
  word-break: break-word;
  hyphens: auto;
}

.about {
  &:first-of-type {
    background: rgba(0,0,0,0);
    color: rgba(0,0,0,0);
    position: relative;
    margin: -2rem auto 0;
    @include animation(aboutIn .3s ease-out ($animation-delay + 2s) forwards);
    h3 {
      opacity: 0;
      @include animation(in .3s ease-out ($animation-delay + 1.9s) forwards);
    }
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      height: 1px;
      background: $light;
      @include animation(growRight .9s cubic-bezier(1,0,.75,.75) ($animation-delay + .8s) forwards);
    }
  }
  @include span-columns(12);
  padding: 3.5rem;
  max-width: 1000px;
}

p {
  margin: 1.6em 0;
}

h1 {
  font-family: "acta-display";
  font-weight: 900;
  font-size: 6.3rem;
  line-height: 11rem;
  opacity: 0;
  @include animation(in .8s cubic-bezier(1,0,.75,.75) ($animation-delay + .6s) forwards);
}

h2 {
  font-family: "acta-display";
  font-weight: 700;
  font-size: 4.2rem;
  line-height: 4rem;
  opacity: 0;
  @include animation(in .8s cubic-bezier(1,0,.75,.75) ($animation-delay + .7s) forwards);
}

h3 {
  font-family: "estilo-pro";
  font-size: 3rem;
  line-height: 4rem;
  letter-spacing: .3rem;
  margin-top: 1.6rem;
  text-align: center;
}

footer {
  height: 150px;
  border-top: 1px $light solid;
  margin: 3.5rem 3.5rem 0;
  padding: 3.5rem 0;
}

@media only screen and (max-width: 800px) {
  p {
    font-size: .85em;
    line-height: 1.8em;
  }
  h2 {
    font-size: 3.2rem;
    line-height: .8em;
    letter-spacing: 0;
  }
  .bg {
    background-position: 30% 100%;
    height: 95vh;
  }
  .hero {
    margin: calc(95vh - 410px) 2.8rem 0;
    height: 410px;
    p {
      max-width: 550px;
    }
  }
  .content {
    padding: 0 2.8rem;
    .about {
      &:first-of-type { margin-top: -1rem }
      padding: 2.8rem;
    }
    p:first-of-type:first-letter {
      font-size: 3.5rem;
      line-height: 3.8rem;
      margin: 0 .7rem 0 0;
    }
  }

  footer {
    margin: 3.5rem 2.8rem 0;
  }

}

@media only screen and (max-width: 592px) {
  p {
    font-size: .7em;
    line-height: 1.8em;
  }
  h1 {
    font-size: 5rem;
    line-height: 1.6em;
  }
  h2 {
    font-size: 2.1rem;
    line-height: .8em;
    letter-spacing: 0;
  }
  .bg {
    background-image: url("../media/malikamobile.jpg");
    background-position: 20% 100%;
    height: 95vh;
  }
  .hero {
    margin: calc(95vh - 360px) 2.4rem 0;
    height: 360px;
    p {
      max-width: 280px;
    }
  }
  .content {
    padding: 0;
    .about {
      padding: 1rem;
    }
    p:first-of-type:first-letter {
      font-size: 3rem;
      line-height: 3.2rem;
      margin: 0 .6rem 0 0;
    }
  }

  footer {
    margin: 3.5rem 0 0;
    padding: 1em;
  }
}

@include keyframes(in) {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

@include keyframes(aboutIn) {
  0% { background: rgba(0,0,0,0); color: rgba(0,0,0,0); }
  100% { background: $light; color: $navy; }
}

@include keyframes(growRight) {
  0% { width: 0; opacity: 0; }
  100% { width: 100%; opacity: 1; }
}