@import "reset", "bourbon", "neat";

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

$smoke: #15181A;
$navy: #152B3C;
$blue: #85C6D6;
$light: #FCFCFC;

.wf-loading {
  visibility: hidden;
}

.wf-active {
  visibility: visible;
}

body {
  text-rendering: optimizeLegibility;
  font-variant-ligatures: common-ligatures;
  font-feature-settings: "liga", "dlig", "kern", "onum", "lnum";
  font-kerning: normal;
  font-family: "leitura-news", Georgia, serif;
  font-size: 1.5rem;
  line-height: 1.5em;
  background: $smoke;
  color: $light;
}

.hero {
  opacity: 0;
  background-image: url("../media/malika.jpg");
  background-size: cover;
  background-position: 10% 100%;
  height: 100vh;
  width: 100%;
  padding: 40vh 3.5rem 0;
  @include animation(in .8s cubic-bezier(1,0,.75,.75) forwards);

  p {
    font-weight: 300;
    font-style: italic;
    margin-top: 3.2em;
    opacity: 0;
    @include animation(in .8s cubic-bezier(1,0,.75,.75) .8s forwards);
    max-width: 650px;
  }
}

.bar {
  width: 100%;
  height: 1px;
  background: $light;
}

p {
  margin: 1.6em 0;
}

article {
  p:first-of-type:first-letter {
    float: left;
    font-size: 5.7rem;
    line-height: 6.5rem;
    margin: 0 10px 0 0;
  }
  p:not(:first-of-type) {
      text-indent: 1.4em;
  }
  word-break: break-word;
  hyphens: auto;
}

h1 {
  font-family: "acta-display";
  font-weight: 900;
  font-size: 6.3rem;
  line-height: 11rem;
  opacity: 0;
  @include animation(in .8s cubic-bezier(1,0,.75,.75) .6s forwards);
}

h2 {
  font-family: "acta-display";
  font-weight: 500;
  font-size: 4.2rem;
  line-height: 4rem;
  opacity: 0;
  @include animation(in .8s cubic-bezier(1,0,.75,.75) .7s forwards);
}

@media only screen and (max-width: 800px) {
  article {
    p:first-of-type:first-letter {
      font-size: 4.6rem;
      line-height: 5.2rem;
      margin: 0 10px 0 0;
    }
  }
  p {
    font-size: .85em;
    line-height: 1.8em;
  }
  h2 {
    font-size: 3.2rem;
    line-height: .8em;
    letter-spacing: 0;
  }
  .hero {
    background-position: 30% 100%;
    height: 90vh;
    padding: 40vh 2.8rem 0;
    p {
      max-width: 550px;
    }
  }
}

@media only screen and (max-width: 592px) {
  article {
    p:first-of-type:first-letter {
        font-size: 4rem;
        line-height: 4.5rem;
        margin: 0 6px 0 0;
    }
  }
  p {
    font-size: .7em;
    line-height: 1.8em;
  }
  h1 {
    font-size: 5rem;
    line-height: 1.6em;
  }
  h2 {
    font-size: 2.1rem;
    line-height: .8em;
    letter-spacing: 0;
  }
  .hero {
    background-position: 25% 100%;
    height: 80vh;
    padding: 30vh 2.4rem 0;
    p {
      max-width: 280px;
    }
  }
}

@include keyframes(in) {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

@include keyframes(growRight) {
  0% { opacity: 0 }
  100% { opacity: 1 }
}