/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
@import url("//brick.a.ssl.fastly.net/EB+Garamond:400,400i/Old+Standard:400,400i,700/Montserrat:400,700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  text-rendering: optimizeLegibility;
  font-variant-ligatures: common-ligatures;
  font-feature-settings: "liga", "dlig", "kern", "onum", "lnum";
  font-kerning: normal;
  font-family: "EB Garamond", Georgia, serif;
  font-size: 1.8rem;
  line-height: 1.8em;
  background: #15181A;
  color: #FCFCFC; }

html {
  font-size: .8em; }

.hero {
  background-image: url("../media/malika.jpg");
  background-size: cover;
  background-position: 25% 100%;
  height: 100vh;
  width: 100%;
  padding: 40vh 30vw 0 3.5rem; }

p {
  margin: 1.6em 0; }

article {
  word-break: break-word;
  hyphens: auto; }
  article p:first-of-type:first-letter {
    float: left;
    font-size: 5.7rem;
    line-height: 6.5rem;
    margin: 0 10px 0 0; }
  article p:not(:first-of-type) {
    text-indent: 1.4em; }

h1 {
  font-family: Old Standard;
  font-weight: 700;
  font-size: 6.3rem;
  line-height: 11rem; }

h2 {
  font-family: Old Standard;
  font-style: italic;
  font-size: 4.2rem;
  line-height: 10rem; }

@media only screen and (max-width: 700px) {
  article p:first-of-type:first-letter {
    font-size: 4.6rem;
    line-height: 5.2rem;
    margin: 0 10px 0 0; }

  p {
    font-size: .85em;
    line-height: 1.7em; }

  h2 {
    font-size: 3.5rem;
    line-height: 3.5em;
    letter-spacing: 0; } }
@media only screen and (max-width: 502px) {
  article p:first-of-type:first-letter {
    font-size: 4rem;
    line-height: 4.5rem;
    margin: 0 6px 0 0; }

  p {
    font-size: .8em;
    line-height: 1.6em; }

  h2 {
    font-size: 2.4rem;
    line-height: 1.4em;
    letter-spacing: 0; }

  .hero {
    background-position: 25% 100%;
    height: 80vh;
    padding: 30vh 20vw 0 3.5rem; } }
