@import "reset", "bourbon", "neat";
@import url("//brick.a.ssl.fastly.net/EB+Garamond:400,400i/Old+Standard:400,400i,700/Montserrat:400,700");

$visual-grid: true !global;

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: black;
    color: white;
    font-family: "Old Standard";
    text-rendering: optimizeLegibility;
    font-variant-ligatures: common-ligatures;
    font-feature-settings: "liga", "dlig", "kern";
    font-kerning: normal;
}

h1 {
    color: white;
}
